@model LiteratureSolitaire.Core.Models.Card

@{
    var cls = Model.IsCorrectChecked
        ? (Model.IsCorrect ? "correct" : "wrong")
        : "";
}

<div class="card @cls"
     data-card-id="@Model.Id"
     data-type="@Model.Type">
    @if (Model.Type == "Author")
    {
        <div class="card-content image-content">
            <img src="@Model.Content"
                 alt="Author portrait"
                 draggable="false" />
        </div>
    }
    else
    {
        <div class="card-type">@Model.Type</div>

        <div class="card-content">
            @Model.Content
        </div>
    }
</div>